<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <a class="navbar-brand" href="#">Assignments</a>
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/employee']">Employee</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/calculator']">Calculator</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/IncreDecre']">Incre&Decre</a>
    </li> 
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/getAdv']">Advance Info </a>
    </li>    
  </ul>
  <div class="searchbtn">
    <input type="text" name="search" placeholder="search" />
    <button type="button" class="btn-outline-dark">Search</button>
  </div>
</nav>
<div>
  <router-outlet></router-outlet>
</div>